NAME_PROJECT=domasym
NAME_PROJECT_CONTAINER=domasym_symfony
NAME_SGBD_CONTAINER=domasym_mariadb
NAME_SGBD_DISPLAY_CONTAINER=domasym_phpmyadmin
NAME_MAIL_DISPLAY_CONTAINER=domasym_mailhog
VALUE_SGBD_VERSION=focal
VALUE_SGBD_DISPLAY_VERSION=latest
VALUE_MAIL_DISPLAY_VERSION=latest
VALUE_PROJECT_PORT=8000
VALUE_SGBD_DISPLAY_PORT=8080
VALUE_MAIL_DISPLAY_PORT=8020
SGBD_DATABASE=domasym
SGBD_ROOT_USERNAME=root
SGBD_ROOT_PASSWORD=secret
FOLDER_PROJECT=www
