NAME_PROJECT=dmasy
NAME_PHP_CONTAINER=dmasy_php
NAME_MARIABD_CONTAINER=dmasy_mariadb
NAME_PHPMYADMIN_CONTAINER=dmasy_phpmyadmin
NAME_MAILHOG_CONTAINER=dmasy_mailhog
NAME_TYPE_SGBD=mariadb
FOLDER_PHP=.docker/phpSymfony/
FOLDER_SGBD=.docker/mariadb/
VALUE_PHPMYADMIN_VERSION=latest
VALUE_MARIABD_VERSION=focal
VALUE_MAILHOG_VERSION=latest
VALUE_PHPSYMPONY_PORT=8000
VALUE_PHPMYADMIN_PORT=8080
VALUE_MAILHOG_DISPLAY_PORT=8020
