# Adopt version 2 syntax:
#   https://docs.docker.com/compose/compose-file/#/versioning
version: '3.27'

services:
###########################
# Setup the PHP container
###########################
    symfony:
        container_name: ${NAME_PROJECT_CONTAINER}
        restart: always
        build: ./.docker/symfony/
        volumes:
            - ./project/:/home/project
            - ./projecttmp/logs/php:/var/log/php:rw
            - ./projecttmp/tmp/php:/var/tmp/php:rw
            - ./projecttmp/tmp/symfony:/var/tmp/symfony:rw
            - ./projecttmp/logs/symfony:/var/log/symfony:rw
            - ./projecttmp/logs/symfonyd:/root/.symfony5/log/:rw
            - ./.docker/symfony/startserver:/etc/init.d/startserver:rw
            - ./.docker/symfony/updateProject.sh:/home/updateProject.sh:rw
            - ./.docker/symfony/updateProjectStart.sh:/home/updateProjectStart.sh:rw
            - ./.docker/symfony/opcache-recommended.ini:/usr/local/etc/php/conf.d/opcache-recommended.ini:ro
            #- ./.docker/symfony/php.ini:/usr/local/etc/php/conf.d/php.ini:ro
            - ./.env:/home/.env:rw
            #- ./config/.env.local:/home/project/www/.env.local:ro
        ports:
            - ${VALUE_PROJECT_PORT}:8000
            

###########################
# Setup the Database (MariaDB) container
###########################
    mariadb:
        container_name: ${NAME_SGBD_CONTAINER}
        image: mariadb:${VALUE_SGBD_VERSION}
        restart: always
        volumes:
            - ./projecttmp/logs/sgbd:/var/log/mysql:rw
            - ./projecttmp/tmp/sgbd:/var/tmp/mysql:rw
            - ./projecttmp/sgbd_data:/var/lib/mysql
            - ./.docker/mariadb/mariadb.cnf:/etc/mysql/conf.d/mariadb.cnf:ro
            - ./config/sgbd_data/0000_default.sql:/docker-entrypoint-initdb.d/0000_default.sql
            # start sql
            - ./config/sgbd_data/0001_people.sql:/docker-entrypoint-initdb.d/0001_people.sql
            # stop sql
        environment:
            - MYSQL_ROOT_PASSWORD=${SGBD_ROOT_PASSWORD}
        entrypoint:
            sh -c "/usr/local/bin/docker-entrypoint.sh --character-set-server=latin1 --collation-server=latin1_swedish_ci"
            
###########################
# Setup the PhpMyAdmin container
###########################
    phpmyadmin:
        container_name: ${NAME_SGBD_DISPLAY_CONTAINER}
        image: phpmyadmin/phpmyadmin:${VALUE_SGBD_DISPLAY_VERSION}
        restart: always
        environment:
            - PMA_PORT=3306
            - PMA_HOST=mariadb
            - PMA_USER=${SGBD_ROOT_USERNAME}
            - PMA_PASSWORD=${SGBD_ROOT_PASSWORD}
        ports:
            - ${VALUE_SGBD_DISPLAY_PORT}:80
        depends_on: 
            - mariadb
            
###########################
# Setup the mailhog container
###########################
    mailhog:
        container_name: ${NAME_MAIL_DISPLAY_CONTAINER}
        image: mailhog/mailhog:${VALUE_MAIL_DISPLAY_VERSION}
        restart: always
        ports:
            - ${VALUE_MAIL_DISPLAY_PORT}:8025
            
